p{
	padding: 5px; 
}

ol {
	margin-left:50px;
}

li {
	list-style: decimal;
}

section {
	background-color: white;
	min-width: 300px;
	padding-bottom:20px;
}

section:nth-child(2){
	background-color: whitesmoke;
}

.wrapper {
	padding:10px;
	margin: 0 auto;
	width: 80%;
}